/* .my-shape { */
    /* transition: transform 0.7s; */
    /* transition: all 1.3s;
} */

/* svg:hover .my-shape {
    fill: teal;
    transform: scale(0.8);
} */

/* Eye color. */
.blue-eyes .eye-color {
    fill: #175282;
}
.sad .mouth {
    transform: rotate(180deg) scale(0.5);
    transform-origin: 340px 390px;
}
/* Inner eye group. */
@keyframes moveEyes {
    20% {
        transform: translate(-18px, -20px);
    }

    40% {
        transform: translate(0, 0);
    }

    65% {
        transform: translate(18px, -20px);
    }
}
.move-around .inner-eye-group {
    animation: moveEyes 12s infinite;
}
/* Left whiskers. */
@keyframes leftWhiskers {
    20% {
        transform: rotate(5deg);
    }
    60% {
        transform: rotate(-5deg);
    }
}
.move-around .left-whiskers {
    animation: leftWhiskers 3s infinite;
    transform-origin: 325px 350px;
}
/* Righ whiskers. */
@keyframes rightWhiskers {
    5% {
        transform: rotate(-2deg);
    }
    90% {
        transform: rotate(7deg);
    }
}
.move-around .right-whiskers {
    animation: rightWhiskers 3s infinite;
    transform-origin: 325px 350px;
}
/* Entire head. */
@keyframes move {
    40% {
        transform: rotateY(25deg);
    }    
}
.move-around {
    animation: move 8s infinite;
}
