/* .my-shape { */
    /* transition: transform 0.7s; */
    /* transition: all 1.3s;
} */

/* svg:hover .my-shape {
    fill: teal;
    transform: scale(0.8);
} */

.blue-eyes .eye-color {
    fill: #175282;
}
.sad .mouth {
    transform: rotate(180deg) scale(0.5);
    transform-origin: 340px 390px;
}

@keyframes moveEyes {
    20% {
        transform: translate(-18px, -20px);
    }

    40% {
        transform: translate(0, 0);
    }

    65% {
        transform: translate(18px, -20px);
    }
}
.move-around .inner-eye-group {
    animation: moveEyes 12s infinite;
}